.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 70vw;
    margin: 50px auto;
}

.input-videoUrl {
    height: 33px;
    background: whitesmoke;
    border: none;
    border-radius: 10px;
    text-align: center;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: rgb(25, 195, 125);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: rgb(121, 245, 193);
}

.submit-btn {
    border: none;
    background: rgb(25, 195, 125);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.submit-btn:hover {
    background: rgb(121, 245, 193);
}

.input-number {
    height: 33px;
    background: whitesmoke;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-checkbox {
    margin-right: 0.5rem;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-player {
    width: 480px;
    height: 240px;
}

.thumbnails-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}